/*==================
	font
==================*/
@font-face {
	font-family: "Scandia";
	src: url(./fonts/Scandia-Regular.otf);
}

@font-face {
	font-family: "Scandia";
	src: url('./fonts/Scandia-Bold.otf');
	font-weight: bold;
}

/*=================
	Global
=================*/

body, html {
	font-family: "Scandia", san-serif;
}

a:visited, a:hover {
	text-decoration: none;
}

.btn-primary {
	border-color: #71b045;
	background-color: #71b045;
	color: #fff;
}

.btn-primary:hover {
	background-color: #5B8E2D;
	border-color: #71b045;
}

.bg-gray {
  background-color: #414042;
}

.btn-lg {
	padding: .9rem 1.5rem;
  font-size: 0.7rem;
  line-height: 1.5;
  border-radius: .1rem;
  letter-spacing: 1.5px;
}











.bg-target {
  background: url('./images/bg-target.svg') no-repeat center center;
  background-size: cover;
}


/*===========
	Promo
============*/

.promo {
	text-align: center;
	height: 28px;
}

.promo p{
	font-size: 11px;
	letter-spacing: 1.5px;
	line-height: 28px;
	text-transform: uppercase;
	color: #fff;
	margin: 0 auto;
}

.promo p:hover {
	background-color: #71b045;
	text-decoration: none !important;
}
